/* apps/web-client/src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    @apply h-full m-0 bg-[#212121] text-white antialiased font-sans;
  }
}

:root {
  /* Valores fallback iniciales en formato R G B */
  --vete-primary: 39 93 158;
  --vete-primary-hover: 30 75 130;
  --vete-secondary: 118 161 101;
  --vete-tertiary: 31 175 56;
  --vete-dark: 0 77 64;
  --vete-surface: 255 255 255;
  --vete-soft: 219 236 213;
  --vete-overlay: 15 23 42;
  --vete-text-base: 0 0 0;
  --vete-text-muted: 156 163 175;
  --vete-border-subtle: 243 244 246;
  --vete-error: 220 38 38;
}