# apps/web-cliete/.env

# URL base para las llamadas a la API de FastAPI
VITE_API_URL=http://[IP_ADDRESS_O_URL]/api

# URL base para acceder a las imágenes estáticas
VITE_API_IMAGES=http://[IP_ADDRESS_O_URL]/static/productos