# /api-backend/.env

# --- Credenciales de la Base de Datos PostgreSQL ---
DB_USER=# Usario 
DB_PASSWORD= # Contraseña 
DB_HOST= # Host
# 
DB_PORT= # Puerto
DB_NAME= # Nombre Base de datos  

# --- Credencial Porta administrativo BD 
DBADMIN_EMAIL= # Correo Usado para logearse
DBADMIN_PASSWORD= # Contraseña 

# --- URL <!> Esto no me queda claro si en entorno desarollo y produccion tendria que cambiar ya tengo mi dominio pero no se si tengo que colocarlo en desarollo que es como estoy acutalmente tengo produccion desplegado pero me falta para poder mandarlo hay 
BASE_URL=https://api.tudominio.com
ALLOWED_ORIGINS=https://tudominio.com,http://localhost:5173